<!DOCTYPE html>
<html>
    <head>
        <title>User Login</title>
    </head>
    <body>
        <h2>User Login</h2>

        <form action = "/login" method = "POST">

            Username:
            <input type = "text" name = "username">

            <br><br>

            Password:
            <input type="password" name = "password">

            <br><br>
            <button type = "submit"> Login </button>
        </form>
        <br>

        <a href="/register">New User Register Here</a></a>

    </body>
</html>